@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
	--color-primary: #000000;
	--color-primary-hover: #272727;
	--color-secondary: #f6f6f6;
	--color-tertiary: #22d4fd;

	--font-primary: "Krona One", sans-serif;
	--font-secondary: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	box-sizing: border-box;
}

.header {
	padding: 2% 0 0 15%;
}

.header__menu {
	display: flex;
	gap: 80px;
}

.header__menu__link {
	font-family: var(--font-secondary);
	font-size: 24px;
	font-weight: 600;
	color: var(--color-tertiary);
	text-decoration: none;
}

.title-highlight {
	color: var(--color-tertiary);
}

.presentation {
	padding: 5% 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.presentation__content {
	width: 615px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.presentation__content__title {
	font-size: 36px;
	font-family: var(--font-primary);
}

.presentation__content__text {
	font-size: 24px;
	font-family: var(--font-secondary);
}

.presentation__content__links {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.presentation__content__links-subtitle {
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 24px;
}
.presentation__content__links-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;

	border: 2px solid var(--color-tertiary);
	border-radius: 8px;
	padding: 16px 0;
	width: 378px;

	color: var(--color-secondary);
	font-family: var(--font-secondary);
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.presentation__content__links-link:hover {
	background-color: var(--color-primary-hover);
}

.footer {
	color: var(--color-primary);
	background-color: var(--color-tertiary);
	padding: 24px;

	text-align: center;
	font-family: var(--font-secondary);
	font-size: 24px;
	font-weight: 400;
}
