@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
	--color-primary: #000000;
	--color-primary-hover: #272727;
	--color-secondary: #f6f6f6;
	--color-tertiary: #22d4fd;

	--font-primary: "Krona One", sans-serif;
	--font-secondary: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-primary);
	box-sizing: border-box;

	color: var(--color-secondary);
}

.header {
	padding: 2% 0 0 15%;
}

.header__menu {
	display: flex;
	gap: 80px;
}

.header__menu__link {
	color: var(--color-tertiary);
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}

.title-highlight {
	color: var(--color-tertiary);
}

.presentation {
	display: flex;
	align-items: center;
	gap: 82px;
	justify-content: space-between;

	padding: 5% 15%;
}

.presentation__content {
	display: flex;
	flex-direction: column;
	gap: 40px;

	width: 50%;
}

.presentation__content__title {
	font-size: 2.25rem;
	font-family: var(--font-primary);
}

.presentation__content__text {
	font-size: 1.5rem;
	font-family: var(--font-secondary);
}

.presentation__content__links {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 32px;
	justify-content: space-between;
}

.presentation__content__links-subtitle {
	font-family: var(--font-primary);
	font-size: 1.5rem;
	font-weight: 400;
}
.presentation__content__links-navigation {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: center;

	border: 2px solid var(--color-tertiary);
	border-radius: 8px;
	padding: 16px 0;
	width: 50%;

	color: var(--color-secondary);
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.presentation__content__links-navigation:hover {
	background-color: var(--color-primary-hover);
}

.presentation__image {
	width: 50%;
}

.footer {
	background-color: var(--color-tertiary);
	padding: 24px;

	color: var(--color-primary);
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}

@media screen and (max-width: 1200) {
	.header {
		padding: 10%;
	}

	.header__menu {
		justify-content: center;
	}

	.presentation {
		flex-direction: column-reverse;
	}
}
