.banner__title {
	color: #fdfdfd;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;

	font-family: Pacifico, cursive;
	text-align: center;
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 0) {
	.banner__title {
		font-size: 3rem;
	}
}

@media screen and (min-width: 768px) {
	.banner__title {
		font-size: 5.065rem;
	}
}
