.about {
	padding: 6em 20em;
}

.about__aboutUs {
	font-weight: 600;
	color: var(--red-dark);
	margin-bottom: 1.5rem;
}

.about__title {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 2.25rem;
}

.about__text {
	font-size: 20px;
	color: var(--grey-light);
}

.about__aboutUs,
.about__title,
.about__text {
	text-align: center;
}
