.jobs {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4rem;
}

.jobs__container {
	display: flex;
	flex-direction: column;
}

.jobs__title {
	font-weight: 500;
	color: var(--red-dark);
}

.jobs__subtitle {
	font-weight: 600;
	font-size: 36px;
}

.jobs__text {
	font-size: 20px;
	color: var(--grey-light);
}

.jobs__title,
.jobs__subtitle,
.jobs__text {
	text-align: center;
	font-weight: 500;
}

.jobs__banner {
	align-self: center;
	width: 85%;
}

.jobs__list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-self: center;
}

.jobs__list--item {
	padding: 1.5rem 4rem;
	border: 1px solid var(--grey-lighter);
	border-radius: 1rem;
}

.jobs__list--title {
	font-size: 20px;
}

.jobs__list--subtitle {
	font-size: 18px;
}

.jobs__list--details {
	display: flex;
}

.jobs__list--text {
	color: var(--grey-light);
	margin-right: 1.5rem;
}
