.header__main .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__main-nav {
	display: flex;
}

.main__content__courses {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main__content__courses-link {
	width: 23%;
	margin: 1%;
}

.main__content__courses-link:nth-child(4n) {
	margin-right: 0;
}

.main__content__courses-link:nth-child(4n + 1) {
	margin-left: 0;
}

.video .container {
	display: flex;
}

.video-video {
	flex-grow: 1;
	flex-shrink: 2;
}

.video__about {
	display: flex;
	flex-direction: column;
	flex-grow: 2;

	text-align: center;
}

.video__about-list {
	flex-grow: 1;
}

.footer__main-navMap-list {
	display: flex;
	flex-flow: column wrap;

	height: 260px;
}

.footer__main__sponsors-list {
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 70%;
	margin-right: 5%;
}

.footer__main__sponsors .container {
	display: flex;
	justify-content: space-between;
}

.footer__main-contactForm {
	width: 25%;
}

.footer__main-contactForm-fieldset {
	display: flex;
}

@media screen and (max-width: 768px) {
	.header__main-nav {
		flex-direction: column;
	}

	.header__main-nav-link-app {
		order: -1;
	}

	.header__main .container {
		flex-direction: column;
		align-items: initial;

		text-align: center;
	}

	.main__content__courses-link {
		width: 100%;
	}

	.video .container {
		flex-direction: column;
	}

	.video-video {
		margin: 0 auto;
	}

	.footer__main-navMap-list {
		height: auto;
	}

	.footer__main__sponsors .container {
		flex-direction: column;
		align-items: center;
	}

	.footer__main__sponsors-list {
		margin: 0;
		width: 100%;
		flex-direction: column;
		gap: 10px;
	}

	.footer__main-contactForm {
		width: 100%;
	}

	.footer__main-contactForm-fieldset {
		justify-content: center;
	}
}
