.topics {
	background: var(--blue-gradient);
	text-align: center;
	padding: 1em 0;
}

.topics__title {
	color: var(--white);
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.topics__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.topics__list--item {
	margin: 2em 0.5em;
}

.topics__list--link {
	color: var(--white);
	padding: 1em;
	background-color: var(--orange);
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}

@media screen and (min-width: 1024px) {
	.topics__title,
	.topics__list--link {
		font-size: 24px;
	}
}
