.section-horizontal .card {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.section-horizontal .card__image {
	/* grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4; */
	grid-area: 1/1/4/2;
}

.section-horizontal .card__button {
	grid-column: 3/4;
	grid-row: 1/4;
}
