.section {
	display: grid;
	align-items: center;
}

.section-horizontal {
	grid-template-rows: 120px auto;
}

.section-vertical {
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr 2fr;
}

.section__cards {
	display: grid;
	row-gap: 1rem;
	--column-gap: 1.25rem;
	column-gap: var(--column-gap);
	--proportional-gap: var(--column-gap) * (var(--max-number-columns) - 1) / var(--max-number-columns);

	/*Minimum column width*/
	--column-min-width: 100%/2 - var(--proportional-gap);
	/*Maximum column width*/
	--max-column-max-width: 100%var (--max-number-columns);
	--column-max-width: max(var(--min-column-max-width), var(--max-column-max-width) - var(--proportional-gap));
	--min: min(var(--column-min-width), var(--column-max-width));

	grid-template-columns: repeat(auto-fit, minmax(min(var(--min)), 1fr));
}

.section-horizontal .section__cards {
	--max-number-columns: 3;
	--min-column-max-width: 348px;
}

.section-vertical .section__cards {
	grid-column: 1/3;
	--max-number-columns: 6;
	--min-column-max-width: 165px;
}
