/*Reset*/
a {
	text-decoration: none;
	color: inherit;
}

button {
	background: transparent;
	border: none;
	color: inherit;
	padding: 0;
	font-size: inherit;
}

/*Global variables*/
:root {
	--blue-dark: #041833;
	--blue-medium: #154580;
	--blue-gradient: linear-gradient(180deg, var(--blue-medium) 0%, var(--blue-dark) 100%);
	--green: #84eec1;
	--gray: rgba(196, 196, 196, 0.2);

	--text-color: #ffffff;
	--text-font: "Open Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background: var(--blue-gradient);
	font-family: var(--text-font);
}

.container {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

/*Aside*/
.menu__lateral {
	background-color: var(--blue-dark);
	padding: 2.5rem 0.5rem 0;
	font-weight: 600;
	letter-spacing: 2px;
	width: 230px;
}

.menu__lateral__link::before {
	padding-left: 1rem;
	padding-right: 0.5rem;
	vertical-align: middle;
}

.menu__lateral__link {
	font-family: var(--text-font);
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 0.5rem;
}

.active {
	background-color: var(--blue-medium);
	border-radius: 5px;
	padding: 0.75rem 0;
}

.menu__lateral__link--home::before {
	content: url("../img/icone-home.svg");
}

.menu__lateral__link--search::before {
	content: url("../img/icone-busca.svg");
}

.menu__lateral__link--library::before {
	content: url("../img/icone-biblioteca.svg");
}

.menu__lateral__playlist {
	text-transform: uppercase;
	padding-left: 1rem;
}

.menu__lateral__link--playlist::before {
	content: url("../img/icone-add_box.svg");
}

.menu__lateral__link--podcasts::before {
	content: url("../img/icone-stars.svg");
}

/*Header*/
.header {
	padding-top: 2.5rem;
}

.header__button:nth-of-type(1) {
	margin-right: 1rem;
}

/*Main*/

/*Styles shared by elements present in the horizontal section and elements in the vertical section*/
.section__title {
	font-weight: 700;
	font-size: 1.5rem;
}

.card__title {
	font-weight: 700;
	line-height: 22px;
}

.card__subtitle {
	font-size: 14px;
}

/*Horizontal section*/

.section-horizontal .card {
	background: var(--gray);
	border-radius: 10px;
}

.section-horizontal .card__image {
	height: 72px;
}

.section-horizontal .card__player {
	width: 164px;
	height: 4px;
	background: white;
	border-radius: 10px;
}

.section-horizontal .card__button {
	width: 70px;
}

/*Vertical section*/
.section-vertical .card {
	background: rgba(196, 196, 196, 0.2);
	border-radius: 10px;
	padding: 1rem;
}

.section-vertical .card__image {
	height: 133px;
	margin-bottom: 0.5rem;
}
.section-vertical .card__subtitle {
	margin-top: 0.75rem;
}

/*Navbar*/
.navbar {
	position: fixed;
	bottom: 0;
	background-color: var(--blue-dark);
	width: 100vw;
	opacity: 0.9;
}
.navbar__items {
	width: 80%;
	margin: 0.5rem auto;
}

.navbar__item {
	font-size: 0.75rem;
	text-align: center;
}

.navbar__item::before {
	display: block;
	margin-bottom: 3px;
}

.navbar__item--home::before {
	content: url("../img/icone-home-mb.svg");
}

.navbar__item--search::before {
	content: url("../img/icone-busca-mb.svg");
}

.navbar__item--library::before {
	content: url("../img/icone-biblioteca-mb.svg");
}
